{% extends "base.html" %}
{% load static %}

{% block title %}
{{course.name}}
{% endblock %}

{% block main %}
		<!--? slider Area Start-->
		<section class="slider-area slider-area2">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider slider-height2">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-11 col-md-12">
								<div class="hero__caption hero__caption2">
									<h1 data-animation="bounceIn" data-delay="0.2s">{{course.name}}</h1>
									<!-- breadcrumb Start-->
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="{% url 'mainapp:index' %}">Главная</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'mainapp:courses' %}">Курсы</a></li>
										</ol>
									</nav>
									<!-- breadcrumb End -->
								</div>
							</div>
						</div>
					</div>          
				</div>
			</div>
		</section>
		<!--? Start Sample Area -->
		<section class="sample-text-area">
			<div class="container box_1170">
				<h3 class="text-heading">Пользователь {{MyUser.username}}</h3>
				<p class="sample-text">
					Username:
					<br>
                    {{MyUser.username}}
                    <br>
                    Email:
                    <br>
                    {{MyUser.email}}
                    <br>
                    Role:
                    <br>
					{{MyUser.role}}
                    <br>
                    API-Token:
                    <br>
					{{token}}
                    <br>
                <form action="{% url 'userapp:profile' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="regenerate_token">Перегенерировать Токен</button>
                </form>
                </p>
			</div>
		</section>
		<!-- End Sample Area -->

{% endblock %}
